/* DropZone */
.custom_content_drop {
  border-radius: 6px;
  border: 1px solid var(--gray-color);
  background-color: var(--bg-color-sign);
  box-shadow: none;
  transition: background-color ease-in-out 200ms;
}

.custom_content_drop:hover,
.custom_content_drop:focus,
.custom_content_drop:active {
  background-color: var(--bg-card-sign) !important;
  border-color: var(--color-tag-sign-success) !important;
  outline: none;
}

.dropzone_ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_tools_drop {
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.tool_drop {
  background-color: #fff;
  color: #1f1f1f;
  padding: 0.5rem 0.6rem;
  display: grid;
  place-content: center;
  border-radius: 6px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  cursor: pointer;
  box-shadow: #2727319d 0px 5px 10px 0px;
}

.tool_drop:hover {
  background-color: #f7f6f6;
}

.custom_content_drop:hover .content_tools_drop {
  opacity: 1;
  transition: opacity ease-in-out 220ms;
}

.semipolar-spinner,
.semipolar-spinner * {
  box-sizing: border-box;
}

.semipolar-spinner {
  height: 65px;
  width: 65px;
  position: relative;
}

.semipolar-spinner .ring {
  border-radius: 50%;
  position: absolute;
  border: calc(65px * 0.05) solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
  height: calc(65px - 65px * 0.2 * 0);
  width: calc(65px - 65px * 0.2 * 0);
  top: calc(65px * 0.1 * 0);
  left: calc(65px * 0.1 * 0);
  animation-delay: calc(2000ms * 0.1 * 4);
  z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
  height: calc(65px - 65px * 0.2 * 1);
  width: calc(65px - 65px * 0.2 * 1);
  top: calc(65px * 0.1 * 1);
  left: calc(65px * 0.1 * 1);
  animation-delay: calc(2000ms * 0.1 * 3);
  z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
  height: calc(65px - 65px * 0.2 * 2);
  width: calc(65px - 65px * 0.2 * 2);
  top: calc(65px * 0.1 * 2);
  left: calc(65px * 0.1 * 2);
  animation-delay: calc(2000ms * 0.1 * 2);
  z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
  height: calc(65px - 65px * 0.2 * 3);
  width: calc(65px - 65px * 0.2 * 3);
  top: calc(65px * 0.1 * 3);
  left: calc(65px * 0.1 * 3);
  animation-delay: calc(2000ms * 0.1 * 1);
  z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
  height: calc(65px - 65px * 0.2 * 4);
  width: calc(65px - 65px * 0.2 * 4);
  top: calc(65px * 0.1 * 4);
  left: calc(65px * 0.1 * 4);
  animation-delay: calc(2000ms * 0.1 * 0);
  z-index: 1;
}

@keyframes semipolar-spinner-animation {
  50% {
    transform: rotate(360deg) scale(0.7);
  }
}
